@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: oklch(0.982 0.0041 91.45);
  --color-dark-primary: oklch(0.1939 0.0151 18.54);
  --color-accent: oklch(0.9164 0.073 77.44);
  --color-dark-accent: oklch(0.3393 0.0088 145.38);
  --color-hover: oklch(87.2% 0.01 258.338 / 0.2);
}

@layer components {
  .card-todo {
    @apply h-[15rem];
    @apply mx-[0.25rem] sm:mx-[0.5rem];
    @apply w-[calc((100%-1rem)/2)] sm:w-[calc((100%-3rem)/3)] xl:w-[calc((100%-4rem)/4)] 2xl:w-[calc((100%-5rem)/5)];
  }
}

@layer utilities {
  .hover-behaviour {
    @apply cursor-pointer transition-colors duration-200;
    @apply hover:bg-hover;
  }

  .shadow-behavior {
    @apply !shadow-[0_-2px_5px_1px_rgba(0,0,0,0.25)] dark:!shadow-[0_-2px_5px_1px_rgba(255,255,255,0.25)];
  }

  .shadow-inset-b-sm {
    @apply shadow-[inset_0_-6px_4px_-2px_rgba(0,0,0,0.25)] dark:!shadow-[inset_0_-6px_4px_-2px_rgba(255,255,255,0.25)];
  }

  /* .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(153, 161, 175, 0.75) transparent;
  } */
}
