@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  font-family: sans-serif;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: black;

  /* Core Colors */
  --primary-color: oklch(0.9638 0.0299 92.32);
  --primary-foreground: oklch(0 0 0);

  --secondary-color: oklch(0.8555 0.0404 127.61);
  --secondary-foreground: oklch(0 0 0);

  --accent-color: oklch(0.7666 0.0613 164.36);
  --accent-foreground: oklch(0 0 0);

  --hover-color: oklch(0 0 0 / 0.05);

  /* Background & Foreground */
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);

  /* Muted */
  --muted: oklch(0.95 0.01 90);
  --muted-foreground: oklch(0 0 0);

  /* Card & Popover */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);

  /* Border & Input */
  --border: oklch(0.8555 0.0404 127.61); /* Same as secondary */
  --input: oklch(0.8555 0.0404 127.61); /* Same as secondary */

  /* Ring (Focus) */
  --ring: oklch(0.9638 0.0299 92.32); /* Same as primary */

  /* Status Colors */
  --destructive: oklch(0.6 0.18 25); /* Red */
  --destructive-foreground: oklch(0 0 0);

  --warning: oklch(0.9 0.2 80); /* Yellow */
  --warning-foreground: oklch(0 0 0);

  --success: oklch(0.7 0.2 145); /* Green */
  --success-foreground: oklch(0 0 0);

  --info: oklch(0.6 0.2 250); /* Blue */
  --info-foreground: oklch(0 0 0);

  /* Charts */
  --chart-1: oklch(0.6 0.2 250);
  --chart-2: oklch(0.7 0.2 90);
  --chart-3: oklch(0.65 0.2 30);
  --chart-4: oklch(0.7 0.2 190);
  --chart-5: oklch(0.7 0.2 320);

  --radius: 0.5rem;
}

/* Dark Theme */
[data-theme='dark'] {
  color: white;

  --primary-color: oklch(0.3655 0.0129 81.74);
  --primary-foreground: oklch(1 0 0);

  --secondary-color: oklch(0.3979 0 0);
  --secondary-foreground: oklch(1 0 0);

  --accent-color: oklch(0.7972 0.1556 78.83);
  --accent-foreground: oklch(1 0 0);

  --hover-color: oklch(1 0 0 / 0.1);

  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);

  --muted: oklch(0.25 0.015 240);
  --muted-foreground: oklch(1 0 0);

  --card: oklch(0.2 0.015 240);
  --card-foreground: oklch(1 0 0);

  --popover: oklch(0.2 0.015 240);
  --popover-foreground: oklch(0.95 0.01 0);

  --border: oklch(0.3979 0 0); /* Same as secondary */
  --input: oklch(0.3979 0 0); /* Same as secondary */

  --ring: oklch(0.5082 0.1565 20.19);

  --destructive: oklch(0.55 0.2 25);
  --destructive-foreground: oklch(1 0 0);

  --warning: oklch(0.7 0.2 80);
  --warning-foreground: oklch(1 0 0);

  --success: oklch(0.6 0.2 145);
  --success-foreground: oklch(1 0 0);

  --info: oklch(0.6 0.2 250);
  --info-foreground: oklch(1 0 0);

  --chart-1: oklch(0.6 0.2 250);
  --chart-2: oklch(0.7 0.2 90);
  --chart-3: oklch(0.65 0.2 30);
  --chart-4: oklch(0.7 0.2 190);
  --chart-5: oklch(0.7 0.2 320);
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary-color);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent-color);
  --color-accent-foreground: var(--accent-foreground);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-sidebar: var(--secondary-color);
  --color-sidebar-foreground: var(--secondary-color-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-sidebar: var(--color-primary);
  --color-sidebar-foreground: var(--color-primary-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--secondary-color);
  --color-popover-foreground: var(--secondary-color-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
}

@theme {
  --color-hover: var(--hover-color);
}

@layer components {
  .card-todo {
    @apply h-[15rem];
    @apply mx-[0.25rem] sm:mx-[0.5rem];
    @apply w-[calc((100%-1rem)/2)] sm:w-[calc((100%-3rem)/3)] xl:w-[calc((100%-4rem)/4)] 2xl:w-[calc((100%-5rem)/5)];
  }

  .card-alert {
    @apply !w-[50%] sm:!w-[calc(100%/3)] lg:!w-96;
  }
}

@layer utilities {
  .hover-behaviour {
    @apply cursor-pointer transition-colors duration-200;
    @apply hover:bg-hover;
  }

  .shadow-behavior {
    @apply !shadow-[0_-2px_5px_1px_rgba(0,0,0,0.25)] dark:!shadow-[0_-2px_5px_1px_rgba(255,255,255,0.25)];
  }

  /* .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(153, 161, 175, 0.75) transparent;
  } */
}
